* {
  font-family: Helvetica, Arial, sans-serif;
  background-color: black;
  display: inline-block;
}


h1 {
  color: white;
  text-align: center;
}

h2 {
  color: seagreen;
}

h3 {
  color: darkblue;
}

p,
li {
  font-size: 18px;
}


a {
  color: blue;
  text-decoration: underline;
}
